.page {
  height: 95vh; /* 95vh because navbar is 5vh */
}

/*******************************/
/********* Left Column *********/
/*******************************/

.left-column {
  /* Act as a sidebar */
  width: 30%;
  height: inherit;
  position: fixed;

  background-color: #252526;
  color: white;
}

.intro {
  /* Center the intro text */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.reece-b {
  color: #37bcb0;
}

.full-stack-dev {
  color: #d79a4b;
}

.resume-icon-credit {
  font-size: 0.8em;

  /* Center text at bottom center of parent component */
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

/********************************/
/********* Right Column *********/
/********************************/

.right-column {
  /* Right 70% of view port */
  width: 70%;
  height: inherit;
  float: right;

  /* Only this div is scrollable */
  overflow: auto;

  background-color: #1e1e1e;
}

.code-list-item {
  background-color: #4212aa;
  color: white;
}

.numbered-list-item{
  background: transparent;
  border: none;
  color: white;
}