.home-page-div {
  text-align: center;
  background-color: #252526;
  color: white;
  height: auto;
  max-width: 100vw;
}

.card-styling {
  background-color: #333333;
  width: 16rem;
}

.link-styling {
  color: white;
  text-decoration: none;
}

.man {
  color: #da4f0e;
}

.myth {
  color: #2c51e8;
}

.legend {
  color: #4cd8ff;
}

/********************/
/** Blackjack Game **/
/********************/

.blackjack-game-box {
  height: 85vh;
  width: auto;
  margin: 1rem;
  background-color: #333333;
}

.center-the-button {
  /* Center the button in the div */
  position: relative;
  top: 40%;
  font-size: 5rem;
}

.move-to-left {
  text-align: left !important;
}

.dealer-side {
  height: 42.5vh;
  width: auto;
}

.player-side {
  height: 42.5vh;
  width: auto;
}
