.home-page-div {
  text-align: center;
  background-color: #252526;
  color: white;
  height: auto;
  max-width: 100vw;
}

.home-card-styling {
  background-color: #333333 !important;
  width: 16rem !important;
}

.home-link-styling {
  color: white;
  text-decoration: none;
}

.home-man {
  color: #da4f0e;
}

.home-myth {
  color: #2c51e8;
}

.home-legend {
  color: #4cd8ff;
}

/********************/
/** Blackjack Game **/
/********************/

.blackjack-game-box {
  height: 85vh;
  width: auto;
  margin: 1rem;
  background-color: #333333;
}

.blackjack-center-the-button {
  /* Center the button in the div */
  position: relative;
  top: 40%;
  font-size: 5rem !important;
}

.blackjack-move-to-left {
  text-align: left !important;
}

.blackjack-dealer-side {
  height: 42.5vh;
  width: auto;
}

.blackjack-player-side {
  height: 42.5vh;
  width: auto;
}
