.parent {
  height: 95vh;
}

.left-side {
  width: 55%;
  height: 47.5vh;
  position: fixed;
  background: red;
  overflow: auto;
}

.bottom-left-side {
  width: 55%;
  height: 20vh;
  position: fixed;
  background: green;
}

.right-side {
  width: 55%;
  height: 95vh;
  position: fixed;
  background: blue;
}

.kwen-img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}
