.kwentins-page {
  height: 95vh;
  background: #f7f7f7;
}

.kwentins-right-col {
  width: 50%;
  height: 95vh;
  float: right; /* places section on right side of kwentins-page */
  overflow-y: auto; /* allows section to be scrolled */
}

.kwentins-left-col {
  width: 50%;
  height: 95vh;
  position: fixed;
  overflow-y: auto;
}

.kwentins-top-left {
  width: auto;
  height: 77.5vh;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.cardPhoto {
  width: 540px; /* you can use % */
  height: auto;
}

.kwen-text {
  text-align: center;
  margin-bottom: 10px;
}

.kwen-text2 {
  text-align: center;
  margin-top: 10px;
  margin-left: 30px;
}

.kwen-text3 {
  text-align: center;
  margin-left: 270px;
}

.kwen-logo1 {
  margin-left: 20px;
}

.kwen-logo2 {
  margin-left: 10px;
}

/* Resizing personal image in section */
.kwen-img {
  width: auto;
  height: 67.5vh;
  object-fit: contain;
  border-radius: 15px;
  float: left;
}

/* Resizing images in right (scrollable) section */
.kwentins-scroll-img {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
  border-radius: 10px;
}

.kwen-project-img {
  width: 350px;
  height: 250px;
  border-radius: 20px;
}

/* setting font for text */
.kwentins-font {
  font-family: "EB Garamond";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
